---
import type { Project } from "@/types/portfolio";

interface Props {
  project: Project;
  loadingText: string;
}

const { project, loadingText } = Astro.props;
---

<a href={`#${project.id}`} class="file-entry" data-project-image={project.image.src}>
  <span class="file-entry__group">{project.category}</span>
  <span class="file-entry__date">{project.period}</span>
  <span class="file-entry__name file-entry__name--exec">{project.slug}/</span>
  <div class="file-entry__preview" aria-hidden="true">
    <div class="file-entry__preview-inner">
      <div class="file-entry__preview-loading">
        <span class="term-text-dim">// {loadingText}</span>
      </div>
      <img
        src={project.image.src}
        alt={`${project.title} preview`}
        width={project.image.width}
        height={project.image.height}
        class="file-entry__preview-img"
        loading="eager"
        decoding="async"
      />
      <div class="file-entry__preview-scanlines"></div>
    </div>
  </div>
</a>
